body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.todos {
    list-style-type: none;
    padding: 0;
}

.todos li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7d7d7d;
}

.add-todo-form {
    margin-top: 20px;
    display: flex;
}

.add-todo-form input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.add-todo-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #013e12;
    color: #aba2a2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eeff00;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

.add-todo-form button:hover {
    background-color: #0056b3;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.container.dark-mode {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.todos li.dark-mode {
    background-color: #333;
}